.completed
  position: absolute
  display: flex
  align-items: center
  background-color: white
  margin-left: -0.5rem
  border-top-left-radius: 0.5rem
  border-bottom-right-radius: 0.5rem
  padding: 0.25rem 0.5rem
  z-index: 2
  &__text
    margin-left: 0.5rem
    font-size: 0.8rem
    font-weight: 600
